<a href="event/{{events.id}}">
	<div class= 'well hoverwell'>
		<div class='row'><h2   class	= 'span6'>{{events.name}}</h2></div>
		<div class='row'><span class	= 'span1'> Date: </span>{{events.date}}</div>
		<div class='row'><span class	= 'span1'> Time: </span><span>{{events.time}}</span></div>
		<div class='row'><span class	= 'span1'> Location: </span><span>{{events.location.address}}</span></div>
		<div class='row'><span class	= 'span1'> &nbsp</span><span>{{events.location.city}}, {{events.location.province}}</span></div>
	</div>
</a>